<div>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div style="text-align:center">
                        <img src="~/Images/success.png" width="55%" />
                    </div>
                    <hr />
                    <div class="alert alert-success" role="alert">
                        Gracias por tu interés en ayudarnos a obtener un Panamá más limpio.

                        TODO: Podemos meter aquí unas imagnees con unos tips.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>