@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body" style="text-align:center">
                <h3>Por favor llenar el formulario de datos de voluntarios</h3>
                <a class="btn btn-info" href="/Poll/Create">Llenar</a>
            </div>
        </div>
    </div>
</div>