@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body" style="text-align:left;padding-left:200px;padding-right:200px">
                <h3>Hola!</h3>
                <h3>
                    Muchas gracias por apoyar y querer ser parte de la Marea Verde!
                    Te pedimos que por favor completes el siguiente formulario para poder tener tus datos y así avisarte cuando tengamos actividades que puedan ser de tu interés.
                </h3>
                <h3>
                    Estamos seguros que juntos y con pasión lograremos tener un Panamá limpio.
                </h3>
                <div style="text-align:center">
                    <a class="btn btn-info" href="/Poll/Create">Llenar</a>
                </div>
            </div>
        </div>
    </div>
</div>