@{
    var dto = (DAL.Model.Poll)ViewBag.Data;
}
<div bgcolor=#F4F5F8 style=font-family:HelveticaNeueRoman,Helvetica,Arial,Verdana,sans-serif; max-width:500px>
    <table width=100% align=center bgcolor=#F4F5F8>
        <tbody>
            <tr>
                <td>
                    <table width=600px style=margin:0 auto class=m_2034274782633791513content align=center border=0 cellspacing=10 cellpadding=0 bgcolor=#F4F5F8>
                        <tbody>
                            <tr>
                                <td>
                                    <table width=100% border=0 cellspacing=0 cellpadding=3 bgcolor=#0E6836>
                                        <tbody>
                                            <tr>
                                                <td height=1 style=font-size:10px;line-height:1px>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width=100% border=0 cellspacing=0 cellpadding=10 bgcolor=white style=border:1px solid #dadbdd;border-top:0;padding-bottom:10px>
                                        <tbody>
                                            <tr bgcolor=#F4F5F8 style=color:#333333;border-bottom:1px solid #dadbdd>
                                                <td style=padding:0 25px 15px 25px>
                                                    <table style=table-layout:fixed;padding-bottom:20px>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div style="padding-left: 125px;padding-top:25px">
                                                                        <img src="https://static.wixstatic.com/media/411698_23a05a308d504bf9b3e0022facc736f9~mv2.png/v1/fill/w_768,h_152,al_c,q_80,usm_0.66_1.00_0.01/Letrero-completo-verde.png" height=59 width=300 style=max-height:56px!important;vertical-align:top;padding-right:5px;padding-top:5px alt=company_logo class=CToWUd />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style=font-size:12px;padding:20px 25px 50px 25px;color:#000000;font-family:HelveticaNeueRoman,Helvetica,Arial,Verdana,sans-serif>
                                                    <p>
                                                        Hola @dto.FirstName,
                                                        <br />
                                                        <br />
                                                        Muchas gracias por inscribirte como voluntario de la Marea Verde, nos mantedremos en contacto para infomarte sobre actividades y eventos.
                                                    </p>
                                                    <br />
                                                    <p>
                                                        Saludos,
                                                        <br />
                                                        Equipo Marea Verde.
                                                        <br />
                                                        <i>Pasión por un Panamá limpio.</i>
                                                        <hr />
                                                        <small>Para más información contactarnos en info@mareaverdepanama.org</small>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>